html {
	font-size: 100%;
	box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	padding: 0;
  line-height: 20px;
}

.container {
  margin-top: 25rem;
  margin-left: 5vw;
  margin-right: 5vw;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 8rem;
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

h1 {
  color: #2e343b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Fontfont mark pro, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
}

h2 {
  color: #2e343b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Fontfont mark pro, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
}

h3 {
  color: #2e343b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Fontfont mark pro, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}

h4 {
  color: #2e343b;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Fontfont mark pro, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

h5 {
  color: #2e343b;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Fontfont mark pro, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

p {
  color: #2e343b;
  margin-bottom: 1.75rem;
  font-family: Fontfont mark pro book, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a {
  color: #6351fe;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid #000;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: Fontfont mark pro book, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: underline;
  display: inline-block;
}

a:hover {
  color: #fff;
  background-color: #6351fe;
}

ul {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: Fontfont mark pro book, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

li {
  color: #2e343b;
  font-family: Fontfont mark pro book, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.hero {
  min-height: 100vh;
  background-color: #f8f8fa;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 0;
  padding-left: 0;
  display: flex;
}

.footer {
  background-color: #2e343b;
  padding-top: 60px;
  padding-bottom: 60px;
}


.nav-link {
  color: #6351fe;
  margin-right: 24px;
  padding-left: 0;
  padding-right: 0;
  font-family: Fontfont mark pro, sans-serif;
  font-size: 1rem;
  display: inline-block;
}

.nav-link:hover {
  color: #6351fe;
  background-color: rgba(0, 0, 0, 0);
}

.nav-link.w--current {
  color: #6351fe;
  border-bottom-width: 3px;
  border-bottom-color: #6351fe;
  border-radius: 0;
  padding-bottom: 0;
}

.hero-heading {
  margin-right: 70px;
  font-family: Fontfont mark pro, sans-serif;
  font-size: 4rem;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.characteristic-heading {
  text-align: center;
}

.characteristic-image {
  height: 320px;
  justify-content: center;
  margin-bottom: 0;
  display: flex;
}

.body {
  color: #6351fe;
  font-family: Fontfont mark pro book, sans-serif;
  font-size: 16px;
}

.hero-container {
  max-width: 940px;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: -60px;
  display: flex;
  position: relative;
  gap: 2rem;
}

.hero-subheading {
  font-family: Fontfont mark pro, sans-serif;
  font-weight: 900;
  line-height: 2.4rem;
}

.footer-heading {
  color: #6351fe;
  font-family: Fontfont mark pro book, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
}

.footer-text {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer-logo {
  margin-bottom: 20px;
}

.container-hero {
  max-width: none;
  flex: 1;
  align-self: auto;
  align-items: center;
  display: flex;
  position: relative;
}

.nav-menu {
  width: 70%;
  float: left;
}

.navbar {
  background-color: #f8f8fa;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navbar-container {
  justify-content: space-around;
  display: flex;
}

.nav-button-view {
  float: none;
  color: #6351fe;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #6351fe;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 10px;
  font-family: Fontfont mark pro, sans-serif;
  font-size: .8rem;
}

.nav-button-view:hover {
  color: #2e343b;
  background-color: rgba(0, 0, 0, 0);
  border-color: #2e343b;
}

.div-block {
  width: 30%;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav-link-div {
  display: inline-block;
}

.link-footer {
  color: #fff;
  font-size: 1rem;
}

.link-footer:hover {
  color: #6351fe;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 991px) {

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-heading {
    margin-right: 0;
    font-size: 3rem;
    font-weight: 150;
  }

  .hero-container {
    margin-top: -100px;
  }

  .hero-main-content {
    margin-right: 40px;
  }

  .navbar {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }

  .icon {
    color: #fff;
  }

  .navbar-container {
    min-width: 100%;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }


  .div-block {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 400px;
  }

  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-link {
    text-align: center;
    margin-right: auto;
    display: block;
  }

  .nav-link.w--current {
    margin-bottom: 20px;
  }

  .hero-heading {
    margin-right: 0;
  }

  .hero-container {
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .container-hero {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    padding: 5px 20px;
    display: block;
  }

  .hero-main-content {
    margin-right: 0;
  }

  .menu-button.w--open {
    background-color: #6351fe;
  }

  .navbar-container {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-link-div {
    display: block;
  }

}

@media screen and (max-width: 479px) {
  h2 {
    font-family: Fontfont mark pro, sans-serif;
  }

  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .hero-heading {
    margin-right: 0;
    font-size: 2rem;
  }

  .hero-container {
    margin-top: 0;
    padding-top: 0;
  }

  .footer-heading {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .container-hero {
    object-fit: fill;
    padding-top: 60px;
    display: block;
    position: static;
    overflow: visible;
  }

  .hero-main-content {
    z-index: 1;
  }



  .div-block {
    justify-content: flex-start;
    padding-left: 10px;
  }
}


@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Garagefonts freighttext pro book';
  src: url('../fonts/GarageFonts---FreightText-Pro-Book-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Fontfont mark pro';
  src: url('../fonts/FontFont---Mark-Pro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fontfont mark pro';
  src: url('../fonts/FontFont---Mark-Pro-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fontfont mark pro book';
  src: url('../fonts/FontFont---Mark-Pro-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}