.button {
  background-color: var(--color-primary);
}


/* characteristics */
.container-with-tiles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.tile {
  background-color: #f8f8fa;
  padding: 5%;
} 

.tile__heading {
  text-align: center;
}

.tile__img-container img {
  width: 100%;
  height: 12rem;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .container-with-tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* idea */
.container-with-the-idea {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1024px;
  justify-content: center;
}

.idea {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .idea {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}


.idea__img-container {
  display: flex;
  justify-content: center;
  height: 25rem;
}

.idea img {
  object-fit: contain;
  width: 100%;
  max-width: 17rem;
}

/* .idea div {
  width: 66%;
} */

.idea-text {
  font-size: 2rem;
  align-self: center;
  margin: 2rem;
  min-width: 66%;
}

.hero-image {
  width: 33%;
  height: auto;
  flex: 0 auto;
  align-self: flex-start;
}

.text-centered {
  text-align: center;
}