.button {
  background-color: #6351fe;
}

.container-with-tiles {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}

.container-with-the-idea {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}

.idea {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 5rem;
}

.idea img {
  max-width: 33%;
  max-height: 70rem;
}

.idea div {
  width: 66%;
}

.idea-text {
 font-size: 2rem;
 align-self: center;
 margin: 2rem;
 min-width: 66%;
}

.hero-image {
  width: 33%;
  height: auto;
  flex: 0 auto;
  align-self: flex-start;
}

.text-centered {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.tile {
  background-color: #f8f8fa;
  padding: 5%;
}

@media screen and (max-width: 479px) {
  .kb_visual {
    z-index: 0;
    width: 60%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

