.page-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-bg);
}

.page-cover-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-cover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-cover-container h1 {
  font-size: 3rem;
  font-weight: 400;
}

.page-cover-container h2 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.4rem;
}

.page-cover-container img {
  align-self: flex-start;
  height: auto;
  width: 30%;
}

@media screen and (min-width: 768px) {
  .page-cover-container {
    flex-direction: row-reverse;
    gap: 3rem;
  }

  .page-cover-container h1 {
    font-size: 4rem;
  }
  
  .page-cover-container h2 {
    font-size: 2rem;
  }

  .page-cover-container img {
    align-self: center;
  }
}


/* characteristics */
.container-with-tiles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.tile {
  background-color: var(--color-bg);
  padding: 5%;
}

.tile__heading {
  text-align: center;
}

.tile__img-container img {
  width: 100%;
  height: 12rem;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .container-with-tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* idea */
.container-with-the-idea {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.idea {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  gap: 2rem;
}

.idea div {
  order: 1;
}

.idea p {
  order: 2;
}

@media screen and (min-width: 1024px) {
  .idea {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
  }

  .idea:nth-of-type(even) p {
    order: -1;
  }
}


.idea__img-container {
  display: flex;
  justify-content: center;
  height: 25rem;
}

.idea img {
  object-fit: contain;
  width: 100%;
  max-width: 17rem;
}

.idea-text {
  font-size: 2rem;
  align-self: center;
  margin: 2rem;
  min-width: 66%;
}

.text-centered {
  text-align: center;
}