---
# page-specific styling
---

// XXX: brittle selectors due to Markdown limitations

ul:not(.nav) {
    margin-left: 0;
    list-style-type: none;

    h3 { // title
        margin-top: 1em;
    }

    ul { // tags
        overflow: auto; // contain floats

        li {
            float: left;
            font-size: 1.4rem;
            margin-right: 1em;
            border-radius: 1em;
            padding: 0.2em 0.5em;
            background-color: #EEE;
            text-transform: uppercase;
        }
    }
}
