.slider {
  display: block;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider__all {
  position: relative;
  display: flex;
  margin: 0;
}

.slider__slide {
  display: block;
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.slider__page {
  border-width: 0.5px;
  border-style: solid;
  border-color: lightgrey;
  margin-bottom: 0;
  line-height: 0;
}

.slider__image {
  max-width: 100%;
}

.slider:focus {
  outline: 4px solid rgb(247, 247, 247);
}

.page__number__box {
  position: absolute;
  top: 5%;
  width: 4%;
  margin-left: 87%;
}

.page__number { 
  display: inline-block;
  background: rgba(247, 247, 247, 0.7);
  font-size: 1.25rem;
}

.instructions--hover,
.instructions--focus,
.instructions--hover-and-focus,
.instructions--touch {
  display: none;
  /* font-size: $font-size-base; */
}

.slider__instructions {
  margin-top: 1rem;
  text-align: center;
}

.slider:focus:not(:hover)+.slider__instructions .instructions--focus,
.slider:hover:not(:focus)+.slider__instructions .instructions--hover {
  display: block;
}

.slider:hover:focus+.slider__instructions .instructions--hover-and-focus {
  display: block;
}

.instructions--touch-active .instructions__no-touch {
  /* stylelint-disable-next-line */
  display: none !important;
}

.instructions--touch-active .slider__instructions .instructions--touch {
  display: block;
}
