h1 {
    color: var(--color-headings);
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: FFMarkWebPro, sans-serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 4rem;
}

h2 {
    color: var(--color-headings);
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: FFMarkWebPro, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.5rem;
}

h3 {
    color: var(--color-headings);
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: FFMarkWebPro, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

h4 {
    color: var(--color-headings);
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: FFMarkWebPro, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
}

h5 {
    color: var(--color-headings);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: FFMarkWebPro, sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.75rem;
}

p {
    color: var(--color-headings);
    margin-bottom: 1.75rem;
    font-family: FFMarkWebPro, sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

a {
    color: var(--color-primary);
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid #000;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: FFMarkWebPro, sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-decoration: underline;
    display: inline-block;
}

a:hover {
    color: #fff;
    background-color: var(--color-primary);
}

ul {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: FFMarkWebPro, sans-serif;
    font-size: 1.125rem;
    line-height: 1rem;
}

ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}

li {
    color: var(--color-headings);
    font-family: FFMarkWebPro, sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@font-face {
  font-display: swap;
  font-family: FreightTextPro;
  font-style: normal;
  font-weight: bold;
  src: url('https://assets.innoq.com/fonts/350ED6_0_unhinted_0.woff2?cachebuster=#{$cachebuster}') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: FreightTextPro;
  font-style: italic;
  font-weight: normal;
  src: url('https://assets.innoq.com/fonts/350ED6_1_unhinted_0.woff2?cachebuster=#{$cachebuster}') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: FreightTextPro;
  font-style: normal;
  font-weight: normal;
  src: url('https://assets.innoq.com/fonts/350ED6_2_unhinted_0.woff2?cachebuster=#{$cachebuster}') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: FreightTextPro;
  font-style: italic;
  font-weight: bold;
  src: url('https://assets.innoq.com/fonts/350ED6_3_unhinted_0.woff2?cachebuster=#{$cachebuster}') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: FFMarkWebPro;
  font-style: normal;
  font-weight: normal;
  src: url('https://assets.innoq.com/fonts/MarkPro-Book.woff2?cachebuster=#{$cachebuster}') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: FFMarkWebPro;
  font-style: normal;
  font-weight: bold;
  src: url('https://assets.innoq.com/fonts/MarkPro-Bold.woff2?cachebuster=#{$cachebuster}') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: FFMarkWebPro;
  font-style: normal;
  font-weight: 900;
  src: url('https://assets.innoq.com/fonts/MarkPro-Heavy.woff2?cachebuster=#{$cachebuster}') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Hack;
  src: url('https://assets.innoq.com/fonts/hack-regular.woff2?cachebuster=#{$cachebuster}') format('woff2');
}
