:root {
    --color-primary: #6351fe;
    --color-secondary: #2e343b;
    --color-text: #333;
    --color-headings: #2e343b;
    --color-bg: #f8f8fa;
    --content-max-width: 1024px;
    --content-minimum-side-spacing: 5vw;
}