<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{page.description}}">
  <meta property="og:image" content="https://scs-architecture.org/img/{{page.og_image}}" />
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:description" content="{{page.description}}" />
  <meta property="og:image:width" content="4000" />
  <meta property="og:image:height" content="2000" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://scs-architecture.org/img/{{page.og_image}}">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{{page.description}}">
  <link rel="stylesheet" href="css/vars.css">
  <link rel="stylesheet" href="css/typography.css">
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/navigation.css">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
  <link rel="icon" href="img/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="manifest" href="site.webmanifest">
  <script defer data-domain="scs-architecture.org" src="https://plausible.io/js/script.outbound-links.js"></script>
</head>

<body>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="topbar">
    <div class="container">
      <nav role="navigation" class="navigation" id="menu" aria-label="menu">
        <a class="navigation__menu-icon-link" href="#" aria-label="Close menu">
          <img src="img/menu-close.svg" alt="Close Menu" class="navigation__menu-icon">
          <span class="sr-only">Close menu</span>
        </a>
        <div class="navigation__items">
          <a href="index.html" aria-current="page" class="navigation__link {% if page.name == 'index.html' %} navigation__link-selected {% endif %}">What</a>
          <a href="why.html" class="navigation__link {% if page.name == 'why.md' %} navigation__link-selected {% endif %}">Why</a>
          <a href="faq.html" class="navigation__link {% if page.name == 'faq.md' %} navigation__link-selected {% endif %}">FAQ</a>
          <a href="vs-ms.html" class="navigation__link {% if page.name == 'vs-ms.md' %} navigation__link-selected {% endif %}">SCS vs. Microservice</a>
          <a href="links.html" class="navigation__link {% if page.name == 'links.md' %} navigation__link-selected {% endif %}">Links</a>
          <a href="case-studies.html" class="navigation__link {% if page.name == 'case-studies.md' %} navigation__link-selected {% endif %}">Case Studies</a>
          <div class="navigation__button">
            <a href="https://github.com/innoq/SCS" class="navigation__button-link">Contribute on GitHub</a>
          </div>
        </div>
      </nav>
      <a class="navigation__menu-icon-link" href="#menu" aria-label="Open menu">
        <img src="img/menu-burger.svg" alt="Open Menu" class="navigation__menu-icon">
        <span class="sr-only">Open menu</span>
      </a>
    </div>
  </div>
  <main>
    {% if page.name != 'index.html' %}
      <section class="container offset-top">{{ content }}</section>
    {% else %}
      {{ content }}
    {% endif %}
  </main>
  <footer class="footer">
    <div class="container footer-container">
      <a href="https://www.innoq.com/" target="_blank" class="link-footer">
        <img src="img/INNOQ_Logo.svg" alt="INNOQ" class="footer-logo"></img>
      </a>
      <h3 class="footer-heading">We give technology a purpose. We future-proof your ideas.</h3>
      <p class="footer-text">Honest consulting, innovative thinking, and a passion for software development means: We deliver successful software solutions, infrastructure, and business models.<br><br>
        <a href="https://www.innoq.com" target="_blank" class="link-footer">Visit our website</a><br>
        <a href="https://www.innoq.com/privacy" target="_blank" class="link-footer">Privacy</a>
        <a href="https://www.innoq.com/impressum" target="_blank" class="link-footer">Site notice</a>
      </p>
    </div>
  </footer>
</body>
</html>