<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{page.description}}">
  <link rel="stylesheet" href="css/vars.css">
  <link rel="stylesheet" href="css/webflow.css">
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" sizes="any">
  <script defer data-domain="scs-architecture.org" src="https://plausible.io/js/script.outbound-links.js"></script>
</head>

<body class="body">

  <!-- todo mobile -->
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar w-nav">
    <div class="navbar-container w-container">
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div class="nav-link-div">
          <a href="index.html" aria-current="page"
            class="nav-link w-nav-link {% if page.name == 'index.html' %} w--current {% endif %}">What</a>
        </div>
        <div class="nav-link-div">
          <a href="why.html" class="nav-link w-nav-link {% if page.name == 'why.md' %} w--current {% endif %}">Why</a>
        </div>
        <div class="nav-link-div">
          <a href="faq.html" class="nav-link w-nav-link {% if page.name == 'faq.md' %} w--current {% endif %}">FAQ</a>
        </div>
        <div class="nav-link-div">
          <a href="vs-ms.html" class="nav-link w-nav-link {% if page.name == 'vs-ms.md' %} w--current {% endif %}">SCS
            vs. Microservice</a>
        </div>
        <div class="nav-link-div">
          <a href="links.html"
            class="nav-link w-nav-link {% if page.name == 'links.md' %} w--current {% endif %}">Links</a>
        </div>
      </nav>
      <div class="div-block">
        <a href="https://github.com/innoq/SCS" class="nav-button-view w-button">Get it on Github</a>
      </div>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <main>
    {% if page.name != 'index.html' %}
      <section class="container offset-top">{{ content }}</section>
    {% else %}
      {{ content }}
    {% endif %}
  </main>
  <footer class="footer">
      <div class="container footer-container">
        <a href="https://www.innoq.com/en/?pk_campaign=octopim&amp;pk_source=octopim-lp" target="_blank" class="link-footer">
          <img src="img/INNOQ_Logo.svg" alt="INNOQ Logo" class="footer-logo"></img>
        </a>
        <h4 class="footer-heading">We give technology a purpose. We future-proof your ideas.</h4>
        <p class="footer-text">Honest consulting, innovative thinking, and a passion for software development means: We deliver successful software solutions, infrastructure and business models.<br><br>
          <a href="https://www.innoq.com/en/?pk_campaign=octopim&amp;pk_source=octopim-lp" target="_blank" class="link-footer">Visit our Website</a><br>
          <a href="https://www.innoq.com/en/datenschutz" target="_blank" class="link-footer">Privacy Policy</a>
        </p>
      </div>
    </footer>
</body>

</html>